<!DOCTYPE html>
<head>
<script type="javascript">


</script>
</head>
<body>
<div id="banner" style="align-items:left; background-color: rgb(237, 247, 247);"  >
<img src="hotel_reserve1.jpg"/>    
</div> 


</div>   
<div id="Menu" style="align-items: center;">
<div id="Rooms" style="float:left;">
<form id="reserve",action="#">
CheckIn<input type="date"></input>
CheckOut<input type="date"></input>
Rooms<select style="font-size:1em;">
    <option>Deluxe</option>
    <option>King Suite</option>
    <option>Normal</option>
</select>
Choose Guest
<select style="font-size:1em;">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
</select>
<input type="submit"><p style="color:aliceblue ">Check Availability</p></input>
</form>


</div>    
<ul style="float:right;">
    <li style="background-color:rgb(12, 12, 12);font-color:white;color: antiquewhite;display: inline-block;font-size: larger;" width="100px"><a href="index.html" style="display:1em;font: 1em sans-serif;color: aliceblue;">Home</li>
    <li style="background-color:rgb(12, 12, 12);font-color:white;color: antiquewhite;display: inline-block;font-size: larger;" width="100px"><a href="Rooms.html" style="display:1em;font: 1em sans-serif;color: aliceblue;">Rooms</a></li>
    <li style="background-color:rgb(12, 12, 12);font-color:white;color: antiquewhite;display: inline-block;font-size: larger;" width="100px"><a href="AboutUs.html" style="display:1em;font: 1em sans-serif;color: aliceblue;">Contact Us</li>
    <li style="background-color:rgb(12, 12, 12);font-color:white;color: antiquewhite;display: inline-block;font-size: larger;" width="100px"><a href="AboutUs.html" style="display:1em;font: 1em sans-serif;color: aliceblue;">About</a></li>
     
</ul>
</div>
<div id="Rooms" style="float:left;">
    <table border="0" style="float:left;">
        <tr>
            <td width="30%" align="center"><img src="bedroom-2.jpg" width="50%" height="50%" />
                <br>
                <a style="color:rgb(220, 15, 49) ;font-size: medium;">KING SUITE</a>
                <br>
                <p style="color:rgb(167, 23, 47) ;font-size: medium;">1 BED / 2 PEOPLE / SEA VIEW
                <p style="color:pink ;font-size: medium;">from $99/day</p>
                <p style="color:rgb(195, 17, 46) ;font-size: medium;">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back.
                </p>
                <br>
            </td>
            <td width="30%" align="center" >
            <img src="bedroom-1.jpg" width="50%" height="50%"/>
            <br>
            <a style="color:rgb(220, 15, 49) ;font-size: medium;">DELUXE SUITE</a>
            <br>
            <p style="color:rgb(220, 15, 49) ;font-size: medium;">1 BED / 2 PEOPLE / SEA VIEW
            <p style="color:pink ;font-size: medium;font-size: medium;">from $99/day</p>
            <p style="color:rgb(195, 17, 46) ;font-size: medium;">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back.
            </p>
            <br>
            </td>
        </tr>
        
        </table>
        </div>
<div id="footer"  height="70%" width="30%" style="display: block;">
<h1>Contact Us</h1>
</div>

</body>

